
body {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    color: #333;
    margin: 0% auto;
    text-align: center;
}

header {
    line-height: 23px;
    font-weight: 500;
    top: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
    z-index: 99999;
}
#top-header {
    top: 0;
    left: 0;
    right: 0;
    font-size: 1em;
    background-color: #3dcbb6;
    color: white;
}
#top-header .container {
    line-height: 1em;
    padding-top: .5em;
    font-weight: 600;
    padding-bottom: .5em;
}
.container {
    position: relative;
    margin: auto;
}
#menu-register {
    display:inline-block;
    border-right: 5px #fff solid;
    padding-right: 5%;
}
#menu-login{
    display:inline-block;
    padding-right: 5%;  
}

 .register{
    position: relative;
    text-align: right;
    margin-right: 3%;
}
 .login{
    position: relative;
    text-align: left;
    margin-right: 3%;
}

ul{
    list-style: none;
}
.content {
    text-align: center;
    display: grid;
}
.conteiner-logo{
    text-align: left;
    height: 100%;
    width: 100%;
    margin:1% ;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
input[type="email"],input[type="password"],input[type="text"],.btn{
outline: none;
padding: 1%;
display: inline-block;
width: 15%;
border-radius: 3px;
border:2px solid #1c1c1c;
margin:1% auto
}
.btn{
    font-weight:200;
    color: white;
    border:1px solid #120870;
    background-color: #0855c9;
    cursor: pointer;
}
.btn:hover{
    background-color: #3dcbb6;
}
span a{
    color:#333 
}
.registro{
    display: grid;
}
table{
    margin: 5% auto;
    width: 60%;
    
}
.admin{
    display: inline;
}
.logout {
    float: right;
    margin-bottom: -4%;
    margin-top: -2.5%;
    margin-right: 2%;
    padding: 1%;
    border-radius: 5%;
    background-color:#1a1a1a;
}
tr{
    margin-bottom: 2%;
}
td>a, .btn{
    padding: 3%;
    background: transparent;
    border: 2px solid #0099CC;
    color: #0099CC;
    border-radius: 6px;
    border: none;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

td>a:hover, .btn:hover {
    background-color: #008CBA;
    color: white;
}
#borrar{
    border: 2px solid red!important;
    color: red;
}
#borrar:hover {
    background-color: #b90710;
    color: white;
}
col{
    text-align: center;
    display: grid;
}
col>form{
    
        margin: 0 auto;
        text-align: center;
        display: grid;
        width: 70%;
    
}
